html{
    font-size: 62.5%;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    width: 50vw;
    height: 100vh;
    border: 0.13rem double yellow;
    background-color: #466368 ;
    margin: 0 auto; 
}

header {
    height: 10vh;
    padding: 4%;
}

h1 {
    display: inline;
    margin: 0 0 0 110px;   
}
main{
    height: 45vh;
    display: inline;
}
section{
    
}

.funcSection {
    width: 70%;
    border: 0.13rem double rgb(17, 126, 129);
    background-color:  rgb(147, 153, 153, .5);
}

.funcTitle {
    width: 20%;
    border: 0.13rem double rgb(17, 126, 129);
    background-color:  rgba(14, 173, 173, 0.5);
}

div {
    width: 8vw;
    height: 8vh;
    border: 0.13rem double rgb(129, 14, 85, .5);
    background-color: #b2b2b2;
    display: inline-block;
    margin-top: 40px;
    margin-left: 15%;
}

#ansSum {
    display: block;
    margin: 35px auto 80px;
}















































































































































































































































































































































































































e-L {
    position: absolute;
    top: 0px; right: 100px;
    background-color: aqua;
}